<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mondo</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/anime.css">

    <script type="module" src="../js/anime.js" defer></script>
    <script type="module" src="../js/scrap.js" defer></script>
</head>

<body>

    <div class="window-btns">
        <div class="min"><i class="fas fa-minus"></i></div>
        <div class="max"><i class="far fa-square"></i></div>
        <div class="close"><i class="fas fa-times"></i></div>
    </div>

    <nav class="side-bar">
        <li class="anime-lists">
            <a class="anime-lists-btn">ANIME LISTS</a>
            <div class="anime-lists-menu">
                <a href="watching.html"><i class="far fa-bookmark"></i>Watching<p>0</p></a>
                <a href="completed.html"><i class="far fa-bookmark"></i>Completed<p>0</p></a>
                <a href="planning.html"><i class="far fa-bookmark"></i>Planning<p>0</p></a>
                <a href="paused.html"><i class="far fa-bookmark"></i>Paused<p>0</p></a>
                <a href="dropped.html"><i class="far fa-bookmark"></i>Dropped<p>0</p></a>
            </div>
        </li>

        <a href="settings.html" class="settings-btn"><i class="fas fa-cog"></i>Settings</a>
    </nav>

    <div class="main">
        <div class="header">
            <div class="banner">
                <!-- <img src="https://s4.anilist.co/file/anilistcdn/media/anime/banner/112301-e50SRjhGDGUu.jpg" alt=""> -->
            </div>

            <div class="cover-info-wrap">
                <div class="cover">
                    <!-- <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx112301-P1K5zjiQfacn.jpg" alt=""> -->
                    <!-- <a class="watch-btn">Watch</a>
                    <a class="edit-btn"></a> -->
                </div>

                <div class="info">
                    <div class="about">
                        <!-- <p class="title">The Misfit of Demon King Academy: History’s Strongest Demon King Reincarnates and Goes to School with His Descendants</p>
                        <p class="synopsis">Anos, the Demon King of Tyranny, has defeated humans, spirits, and gods alike. But even demon kings get tired of all the fighting sometimes! Hoping for a more peaceful life, Anos decides to reincarnate himself. When he wakes two thousand years later, though, he finds the world has become too peaceful--his descendants have grown weak and magic is in serious decline. Intending to reclaim his rightful place, he enrolls in Demon King Academy, where he finds that his magical power is off the charts. Literally. And because they can't measure his power, the faculty and other students regard Anos as a misfit. With the support of Misha, the one student he manages to befriend, the misfit (Demon King) begins his climb up the demon ranks!</p> -->
                        <p class="read-more"><a class="button">Read More</a></p>
                    </div>
                    <div class="tab-menu">
                        <a class="tab" data-tab-target="#overview">Overview</a>
                        <a class="tab" data-tab-target="#anime-relations">Anime Relations</a>
                        <a class="tab" data-tab-target="#download">Download</a>
                        <a class="tab" data-tab-target="#anime-config">Configure</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="tab-content active" id="overview">
                <div class="overview"></div>
            </div>
            <div class="tab-content" id="anime-relations">
                <div class="anime-relations"></div>
            </div>
            <div class="tab-content" id="download">
                <div class="download">
                    <table>
                        <thead>
                            <tr>
                                <th id="source">Source</th>
                                <th id="name">Name</th>
                                <th id="episode">Episode</th>
                                <th id="video">Video</th>
                                <th id="link">Link</th>
                                <th id="size">Size</th>
                                <th id="seeds">Seeds</th>
                                <th id="leechs">Leechs</th>
                                <th id="downloadNumber">Downloads</th>
                            </tr>
                        </thead>
                        <tbody class="table-content"></tbody>
                    </table>
                    <div class="lds-dual-ring"></div>
                </div>
            </div>
            <div class="tab-content" id="anime-config">
                <div class="anime-config">
                    <div class="sel-folder-div">
                        <div class="title">Anime Folder</div>
                        <div class="btn"><button class="sel-folder-btn">Select Folder</button></div>
                        <div class="inpt"><input class="sel-folder-input" type="text"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="edit-box">
            <p class="close-edit-box"><i class="fas fa-times"></i></p>

            <div class="dropdown-status">
                <button class="dropdown-status-btn"></button>
                <div class="dropdown-status-menu">
                    <a>Watching</a>
                    <a>Planning</a>
                    <a>Completed</a>
                    <a>Paused</a>
                    <a>Dropped</a>
                </div>
            </div>
            <div class="progress-input-div">
                <input class="progress-input" type="number">
            </div>
            <div class="score-input-div">
                <input class="score-input" type="number">
            </div>
            <div class="save-btn-div">
                <a class="save-btn">Save</a>
            </div>
        </div>
    </div>

</body>

</html>