<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mondo</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/anime.css">

    <script type="module" src="../js/anime.js" defer></script>
</head>

<body>

    <nav class="side-bar">
        <li class="anime-lists">
            <a class="anime-lists-btn"><i class="fas fa-list"></i>Anime Lists</a>
            <div class="anime-lists-menu">
                <a href="watching.html">Watching</a>
                <a href="completed.html">Completed</a>
                <a href="planning.html">Planning</a>
                <a href="paused.html">Paused</a>
                <a href="dropped.html">Dropped</a>
            </div>
        </li>

        <a href="settings.html" class="settings-btn"><i class="fas fa-cog"></i>Settings</a>
    </nav>

    <div class="main">
        <div class="header">
            <!-- <div class="banner">
                <img src="https://s4.anilist.co/file/anilistcdn/media/anime/banner/112301-e50SRjhGDGUu.jpg" alt="">
            </div>

            <div class="cover-info-wrap">
                <div class="cover">
                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx112301-P1K5zjiQfacn.jpg" alt="">
                    <a href="">Watch</a>
                </div>

                <div class="info">
                    <div class="about">
                        <p class="title">The Misfit of Demon King Academy: History’s Strongest Demon King Reincarnates and Goes to School with His Descendants</p>
                        <p class="synopsis">Anos, the Demon King of Tyranny, has defeated humans, spirits, and gods alike. But even demon kings get tired of all the fighting sometimes! Hoping for a more peaceful life, Anos decides to reincarnate himself. When he wakes two thousand years later, though, he finds the world has become too peaceful--his descendants have grown weak and magic is in serious decline. Intending to reclaim his rightful place, he enrolls in Demon King Academy, where he finds that his magical power is off the charts. Literally. And because they can't measure his power, the faculty and other students regard Anos as a misfit. With the support of Misha, the one student he manages to befriend, the misfit (Demon King) begins his climb up the demon ranks!</p>
                        <p class="read-more"><a class="button">Read More</a></p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

</body>

</html>