<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mondo</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/anime_lists.css">

    <script src="../js/anime_lists.js" defer></script>
</head>
<body>

    <nav class="side-bar">
        <li class="anime-lists">
            <a class="anime-lists-btn"><i class="fas fa-list"></i>Anime Lists</a>
            <div class="anime-lists-menu">
                <a href="watching.html">Watching</a>
                <a href="">Completed</a>
                <a href="planning.html">Planning</a>
                <a href="paused.html">Paused</a>
                <a href="dropped.html">Dropped</a>
            </div>
        </li>

        <a href="settings.html" class="settings-btn"><i class="fas fa-cog"></i>Settings</a>
    </nav>

    <div class="main">
        <div class="header-wrap">
            <div class="header">
                <h1>Completed</h1>
                <input type="text" placeholder="Search Anime" class="anime-search">
            </div>
        </div>

        <div class="content">
            <div class="anime-wrap"></div>
        </div>
    </div>
    
</body>
</html>