<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mondo</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/anime_lists.css">

    <script src="../js/anime_lists.js" defer></script>
</head>
<body>

    <nav class="side-bar">
        <li class="anime-lists">
            <a class="anime-lists-btn">ANIME LISTS</a>
            <div class="anime-lists-menu">
                <a href="watching.html"><i class="far fa-bookmark"></i>Watching<p>0</p></a>
                <a href="completed.html"><i class="far fa-bookmark"></i>Completed<p>0</p></a>
                <a href=""><i class="far fa-bookmark"></i>Planning<p>0</p></a>
                <a href="paused.html"><i class="far fa-bookmark"></i>Paused<p>0</p></a>
                <a href="dropped.html"><i class="far fa-bookmark"></i>Dropped<p>0</p></a>
            </div>
        </li>

        <a href="settings.html" class="settings-btn"><i class="fas fa-cog"></i>Settings</a>
    </nav>

    <div class="main">
        <div class="header-wrap">
            <div class="header">
                <h1>Planning</h1>
                <input type="text" placeholder="Search Anime" class="anime-search">
            </div>
        </div>

        <div class="content">
            <div class="anime-wrap"></div>
        </div>
    </div>
    
</body>
</html>