<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mondo</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/settings.css">

    <script src="../js/settings.js" defer></script>
</head>
<body>

    <div class="taskbar"></div>

    <div class="window-btns">
        <div class="min"><i class="fas fa-minus"></i></div>
        <div class="max"><i class="far fa-square"></i></div>
        <div class="close"><i class="fas fa-times"></i></div>
    </div>

    <nav class="side-bar">
        <li class="anime-lists">
            <a class="anime-lists-btn">ANIME LISTS</a>
            <div class="anime-lists-menu">
                <a href="watching.html"><i class="far fa-bookmark"></i>Watching<p>0</p></a>
                <a href="completed.html"><i class="far fa-bookmark"></i>Completed<p>0</p></a>
                <a href="planning.html"><i class="far fa-bookmark"></i>Planning<p>0</p></a>
                <a href="paused.html"><i class="far fa-bookmark"></i>Paused<p>0</p></a>
                <a href="dropped.html"><i class="far fa-bookmark"></i>Dropped<p>0</p></a>
            </div>
        </li>

        <a href="settings.html" class="settings-btn"><i class="fas fa-cog"></i>Settings</a>
    </nav>

    <div class="main">
        <div class="header-wrap">
            <div class="header">
                <h1>Settings</h1>
                <input type="text" placeholder="Search Anime" class="anime-search">
            </div>
        </div>

        <div class="content">
            <div class="anilist-connection">
                <div class="title">Anilist Connection</div>

                <div class="disconnect-btn disconnect-view"><a>Disconnect</a></div>
                <p class="connected-user disconnect-view"></p>
                <div class="resync-btn disconnect-view"><a>Synchronize Lists</a></div>
                <div class="sync-on-start-div disconnect-view">
                    <p>Synchronize on startup</p>
                    <label class="switch">
                        <input class="sync-checkbox" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="anilist-token-btn connect-view">
                    <a href="https://anilist.co/api/v2/oauth/authorize?client_id=3934&response_type=token" target="_blank">Get Access Token</a>
                </div>
                <div class="token-inpt connect-view"><input class="login-input" placeholder="Access Token" type="text"></div>
                <div class="anilist-login-btn connect-view">
                    <a>Login</a>
                </div>
                <div class="user-inpt connect-view"><input class="login-input" placeholder="Anilist Username" type="text"></div>
            </div>

            <div class="color-menu">
                <div class="title">Color</div>
                <div class="colors-div">
                    <div class="colors" id="#487eb0" style="background-color: #487eb0;"></div>
                    <div class="colors" id="#4cd137" style="background-color: #4cd137;"></div>
                    <div class="colors" id="#fbc531" style="background-color: #fbc531;"></div>
                    <div class="colors" id="#00a8ff" style="background-color: #00a8ff;"></div>
                    <div class="colors" id="#7f8fa6" style="background-color: #7f8fa6;"></div>
                    <div class="colors" id="#e84118" style="background-color: #e84118;"></div>
                </div>
            </div>

            <div class="update-menu">
                <div class="title">Updates</div>
                <p>Current Version</p>
                <p class="version-tag"></p>
                <p>Last Update Check</p>
                <p class="last-update-time"></p>
                <div class="update-btn">
                    <a>Check for Updates</a>
                </div>
            </div>
        </div>
    </div>

    <div class="update-frame hidden">
        <p class="update-msg">A new update is available. Downloading now...</p>
        <a class="close-update-btn">Close</a>
        <a class="restart-update-btn hidden">Restart</a>
    </div>
    
</body>
</html>