.main {
    height: 100vh;
    margin-left: 230px;
    min-width: 800px;
    display: grid;
    grid-template-rows: 200px auto;
}

.main .header-wrap {
    margin-top: 50px;
    position: relative;
}

.main .header-wrap::after {
    content: "";
    width: 80%;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: var(--line-color);
    position: absolute;
    margin-left: -40%;
}

.main .header-wrap .header {
    display: flex;
    align-items: center;
    position: relative;
}

.main .header-wrap .header h1 {
    margin-left: 50px;
    font-size: 2rem;
    font-weight: 600;
}

.anime-search {
    right: 0;
    margin-right: 50px;
    position: absolute;
    border: 1px solid var(--line-color);
    background: transparent;
    border-radius: 30px;
    padding: 5px 20px 5px 20px;
    font-size: 0.8rem;
}

.grid-slider {
    position: relative;
}

.grid-slider input {
    height: 5px;
    left: 10%;
    bottom: -70px;
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: var(--lighter-bg-color);
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: var(--line-color);
    cursor: pointer;
}

.grid-slider input::before {
    content: "Grid Size";
    position: absolute;
    font-size: 0.55rem;
    top: -25px;
    left: 0;
}

.main .options-container {
    position: relative;
}

.main .options-container .sort-btn {
    width: 200px;
    right: 10%;
    bottom: -70px;
    font-size: 0.8rem;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    border-radius: 5px;
    font-weight: 400;
    position: absolute;
    background-color: var(--lighter-bg-color);
    -webkit-box-shadow: 0px 0px 33px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 33px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 33px -8px rgba(0,0,0,0.75);
    cursor: pointer;
}

.main .options-container .sort-btn i {
    font-size: 0.8rem;
    right: 15px;
    transform: translateY(3px) rotate(0deg);
    transition: 0.5s;
    position: absolute;
}

.main .options-container .options {
    width: 200px;
    max-height: 0;
    right: 10%;
    top: 95px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--lighter-bg-color);
    z-index: 1;
    -webkit-box-shadow: 0px 0px 33px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 33px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 33px -8px rgba(0,0,0,0.75);
    overflow: hidden;
    transition: 0.3s;
}

.main .options-container .options a {
    font-size: 0.8rem;
    font-weight: 500;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.main .options-container .options a:hover {
    background-color: var(--line-color);
}

.main .content {
    margin: 20px;
}

.anime-wrap {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    justify-items: center;
    position: relative;
}

.no-list {
    margin-top: 5%;
    font-size: 1.8rem;
    font-style: italic;
    position: absolute;
}

.anime {
    width: 160px;
    height: 220px;
    cursor: pointer;
    position: relative;
}

.anime::after {
    content: "";
    width: 0;
    height: 2px;
    bottom: 0;
    position: absolute;
    background-color: var(--line-color);
    opacity: 0;
    transition: width 0.3s;
}

.anime:hover::after {
    width: 100%;
    opacity: 1;
}

.anime img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-box-shadow: 0px 0px 23px 2px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 0px 23px 2px rgba(0,0,0,0.53);
    box-shadow: 0px 0px 23px 2px rgba(0,0,0,0.53);
}

.anime p {
    width: 100%;
    min-height: 50px;
    background-color: rgba(0, 0, 0, 0.85);
    bottom: 0;
    font-size: 0.6rem;
    font-weight: 700;
    padding: 5px 5px 20px 5px;
    text-align: center;
    position: absolute;
    overflow: hidden;
}

.anime span:nth-of-type(1) {
    font-size: 0.45rem;
    font-weight: 600;
    left: 5px;
    bottom: 3px;
    position: absolute;
}

.anime span:nth-of-type(2) {
    font-size: 0.45rem;
    font-weight: 600;
    right: 5px;
    bottom: 3px;
    position: absolute;
}

.hidden {
    display: none;
}