* {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --darker-bg-color: #292e37;
    --lighter-bg-color: #353b48;
    --lighter-bg-color-rgb: 53, 59, 72;
    --line-color: #487eb0;
    --line-color-rgb: 72, 126, 176;
}

*:focus {
    outline: none;
}

body {
    background-color: var(--darker-bg-color);
}

.hidden {
    display: none;
}

/* ----------- Scrollbar -----------*/
/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--lighter-bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--line-color);
    border-radius: 2px;
}
/* ----------- Scrollbar -----------*/

.taskbar {
    width: calc(100% - 230px);
    height: 35px;
    position: fixed;
    right: 0;
    -webkit-app-region: drag;
    z-index: 1;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background-blend-mode: exclusion;
    background: rgba(53, 59, 72, 0.6);
}

.window-btns {
    width: 120px;
    height: 35px;
    right: 0;
    z-index: 1;
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    -webkit-app-region: no-drag;
}

.window-btns div {
    width: 100%;
    transition: 0.2s;
    cursor: pointer;
    text-align: center;
}

.window-btns i {
    font-size: 0.4rem;
    transform: translateY(-3px);
}

.min:hover,
.max:hover {
    background-color: var(--line-color);
}

.close:hover {
    background-color: #870202;
}

.update-frame {
    width: 260px;
    height: 160px;
    right: 25px;
    bottom: 25px;
    border-radius: 10px;
    padding: 20px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    background-color: var(--lighter-bg-color);
}

.update-frame p {
    font-size: 0.8rem;
}

.update-frame a {
    width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 3px;
    margin: auto;
    cursor: pointer;
    text-align: center;
    background-color: var(--line-color);
    transition: .2s;
}

.update-frame a:hover {
    box-shadow: 0px 0px 10px 1px rgba(var(--line-color-rgb), 0.8);
}

.hidden {
    display: none;
}

.side-bar {
    width: 230px;
    height: 100%;
    font-size: 1.5rem;
    z-index: 1;
    position: fixed;
    white-space: nowrap;
    overflow: hidden;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-blend-mode: exclusion;
    background: rgba(53, 59, 72, 0.6);
}

.anime-lists {
    margin: 20px 0 20px 15px;
}

.anime-lists-btn {
    font-size: 0.55rem;
    font-weight: 800;
    color: var(--line-color);
}

.anime-lists-menu {
    padding-top: 5px;
}

.anime-lists-menu a {
    display: block;
    margin: 10px 20px 0 0;
    font-size: 0.7rem;
    font-weight: 300;
    letter-spacing: 1px;
    position: relative;
}

.anime-lists-menu p {
    display: inline-block;
    font-size: 0.6rem;
    right: 0;
    position: absolute;
}

.anime-lists-menu i {
    margin-right: 15px;
    font-size: 0.65rem;
    color: rgba(169, 169, 169, 0.5);
    transition: 0.3s;
}

.anime-lists-menu a:hover > .far {
    color: rgba(255, 255, 255, 0.8);
}

.settings-btn {
    margin: 20px 0 20px 15px;
    font-size: 0.8rem;
    bottom: 0;
    position: absolute;
}

.settings-btn i {
    margin-right: 10px;
    font-size: 0.8rem;
}

.main {
    height: 100vh;
    margin-left: 230px;
    min-width: 800px;
    display: grid;
    grid-template-rows: 200px auto;
}

.header-wrap {
    margin-top: 50px;
    position: relative;
}

.header-wrap::after {
    content: "";
    width: 80%;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: var(--line-color);
    position: absolute;
    margin-left: -40%;
}

.header {
    display: flex;
    align-items: center;
    position: relative;
}

.header h1 {
    margin-left: 50px;
    font-size: 2rem;
    font-weight: 600;
}

.anime-search {
    right: 0;
    margin-right: 50px;
    position: absolute;
    border: 1px solid var(--line-color);
    background: transparent;
    border-radius: 30px;
    padding: 5px 20px 5px 20px;
    font-size: 0.8rem;
}

.content {
    width: 60%;
    margin: 20px auto 20px auto;
}

.anilist-connection,
.color-menu {
    width: 800px;
    height: 150px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.anilist-connection .title,
.color-menu .title {
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
}

.anilist-connection .title::after,
.color-menu .title::after {
    content: "";
    width: 800px;
    height: 1px;
    bottom: 10px;
    left: 0;
    position: absolute;
    background-color: var(--line-color);
}

.anilist-token-btn,
.anilist-login-btn,
.disconnect-btn,
.resync-btn {
    width: 200px;
    height: 36px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid var(--line-color);
    cursor: pointer;
    transition: .4s;
}

.anilist-token-btn:hover,
.anilist-login-btn:hover,
.disconnect-btn:hover,
.resync-btn:hover {
    background-color: var(--line-color);
}

.anilist-connection a {
    font-size: 0.85rem;
}

.login-input {
    width: 100%;
    height: 30px;
    font-size: 0.6rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid var(--line-color);
    color: black;
    padding-left: 5px;
}

.anilist-connection p {
    font-size: 0.9rem;
    margin-left: auto;
}

.switch {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    width: 60px;
    height: 30px;
    transform: translateY(1px);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--lighter-bg-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--line-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    width: 23px;
    height: 23px;
    border-radius: 50%;
}

.color-menu {
    margin-top: 20px;
}

.colors-div {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
}

.colors-div div {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 4px;
    transition: .2s;
    cursor: pointer;
}

.colors-div div:hover {
    width: 60px;
}
